header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

header .title,
#profile-name {
    font-family: "Naue Machina", sans-serif;
    text-align: center;
}

.information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.information p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.125rem;
}

.information p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.information .job::before {
    background-image: url('../image/icons/job.svg');
}

.information .location::before {
    background-image: url('../image/icons/location.svg');
}

.information .linkedin::before {
    background-image: url('../image/icons/linkedin.svg');
}

.information .resume::before {
    background-image: url('../image/icons/resume.svg');
}

.information .phone::before {
    background-image: url('../image/icons/phone.svg');
}

.information .email::before {
    background-image: url('../image/icons/email.svg');
}

@media only screen and (min-width: 768px) {

    header {
        display: grid;
        grid-template-areas:
            "photo title"
            "photo information";
    }

    header .photo {
        grid-area: photo;
        margin: 0 auto;
    }

    header .title {
        grid-area: title;
        text-align: start;
        max-width: 200px;
    }

    header .information {
        grid-area: information;
    }

}